[DEFAULT]
dashboard_name = Your Dashboard Name
debug = True

[Converter]
password = password
device_ip = 1.1.1.1
# Time in minutes
converter_poll_time = 30

[PiEnvironmentSensor]
humidity_offset = +5.0
# Time in minutes
sensor_poll_time = 0.2
